<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="speech">And I said to the guy, "You can put it on my bill"</p>

                <img class="img-responsive" src="img/platypus.png" style="max-height: 300px" alt="">

                <div class="intro-text">
                    <span class="name">Get puns from Dale</span>
                    <hr class="star-light">
                    <span class="skills">Marsupial • Egg Layer • Word Play Enthusiast</span>
                </div>
            </div>
        </div>
    </div>
</header>


<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Like puns? Like surprises?</h2>
                <hr class="star-primary">
                <h2>Want surprise puns texted to you?</h2>
            </div>
        </div>
        <br>
        <br>
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <form role="form" method="POST" action="/">
                    <div class="row">
                        <div class="form-group col-xs-6 col-xs-offset-3 floating-label-form-group">
                            <label for="phone">Phone Number</label>
                            <input class="form-control" type="phone" name="phone" placeholder="e.g. (281)-330-8004, 867-5309">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-xs-6 col-xs-offset-3">
                            <button type="submit" class="btn btn-lg btn-success">Make it happen</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div id="contact" class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>Grey Rock #2 Wimmera River
                        <br>Miga Lake VIC 3409 Australia</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                    </ul>
                </div>
                <div id="about" class="footer-col col-md-4">
                    <h3>About Us</h3>
                    <p>Dale is a marsupial. He dines primarily on shrimp, crayfish, insect larvae and worms and consumes roughly 20% of its body weight every day.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; 2014 - Dale
                </div>
            </div>
        </div>
    </div>
</footer>
